# Predict Loan Eligibility for Dream Housing Finance company

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('train_ctrUa4K.csv')

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [13]:
data.dropna(how='any', inplace=True)

In [14]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,1

In [15]:
encode = LabelEncoder()

In [16]:
data.Loan_Status = encode.fit_transform(data.Loan_Status)

In [17]:
train, test = train_test_split(data,test_size=0.2,random_state=0)

In [18]:
x_train = train.drop(['Loan_ID','Loan_Status'],axis=1)
y_train = train['Loan_Status']

x_test = test.drop(['Loan_ID','Loan_Status'],axis=1)
y_test = test['Loan_Status']

In [19]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [21]:
print(x_train.shape,x_test.shape)

(384, 20) (96, 20)

In [22]:
model = LogisticRegression(max_iter=380)
model.fit(x_train,y_train)

LogisticRegression(max_iter=380)

In [23]:
reg = model.predict(x_test)

In [24]:
print('Predicted result: \n', reg)

Predicted result:
 [1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1]

In [28]:
print('Accuracy score:\n', accuracy_score(y_test,reg))

Accuracy score:
 0.7604166666666666